.child__container {
  margin-bottom: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  border-bottom: 1px solid #ccc;
  min-height: 600px;
}

.green__color {
  color: var(--bs-green) !important;
}

.red__color {
  color: var(--bs-red) !important;
}

.status__alert {
  margin-bottom: 20px;
  text-align: center;
}
